footer,
section {
    padding: 3vw 0;

}

.itd-img {
    width: 25vw;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.under {
    text-decoration: underline;
    color: black !important;
}


.navbar-nav {
    justify-content: center !important;
}

body {
    font-family: 'Inter ExtraBold', sans-serif;
    overflow-y: overlay;
    background: rgb(230, 235, 255);
    background: linear-gradient(90deg, rgba(230, 235, 255, 1) 0%, rgba(234, 238, 255, 1) 100%);
}

.index_text,
.about_text,
.list-unstyled {
    line-height: 1.6vw;
}

@font-face {
    font-family: 'Inter ExtraBold';
    font-display: swap;
    font-weight: bold;
    font-style: normal;
    src: url("../font/Inter-ExtraBold.woff2");
}

@font-face {
    font-family: 'Inter SemiBold';
    font-display: swap;
    font-weight: bold;
    font-style: normal;
    src: url("../font/Inter-SemiBold.woff2");
}

@media(max-width: 767px) {

    .index_title,
    .about_title,
    .test_text,
    .team_title {
        font-size: 8vw !important;
        text-align: center !important;
        margin-top: 8vw !important;
    }



    .navbar {
        background-color: white !important;
    }

    .nav_center {
        justify-content: start !important;
    }

    .navbar-nav {
        font-size: 5vw !important;
    }

    .index_text,
    .about_text,
    .list-unstyled {
        font-size: 5vw !important;
        padding-left: 5vw !important;
        padding-right: 5vw !important;
        text-align: center !important;
        margin-top: -5vw !important;
        line-height: 6vw;
    }

    .list-unstyled {
        padding-left: 12vw !important;
    }

    .btn {
        font-size: 4vw !important;
        margin-top: -5vw !important;
        margin-left: 5vw !important;
        text-align: center !important;
        width: 50% !important;
    }

    .itd-img {
        width: 36% !important;
        position: absolute;
        top: 80vw !important;
        right: 5vw;
        z-index: -1;
    }
}